
.env*

# Python junk files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual environment folder
venv/
env/
agent_env/

# VS Code settings
.vscode/

# Mac junk
.DS_Store

# Streamlit cache
.streamlit/